body {
    background-color: rgb(30, 255, 0);
    color: rgb(0, 60, 255);
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(255, 0, 212);
    color: azure;
    font-family: "bai jamjuree", sans-serif;
}

.passo {
    display:none;
}

.passo.ativo {
    display:block;
}

